body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: grey;

}

#game-result {
    margin-top: 20px;
    font-size: 18px;
    padding: 1px 2px;
    background: aqua;
    color: black;
}

button {
    padding: 10px 80px;
    background: aqua;
    border: none;
    border-radius: 10px;
}

input[type="radio"] {
    margin: 10px;
}

label {
    padding: 10px 25px;
    color: white;
}