body {
    background-color: rgb(6, 6, 6);
}

.btn1 { background-color: rgb(170, 89, 115); }
.btn2 { background-color: rgb(187, 189, 36); }
.btn3 { background-color: rgb(106, 161, 255); }
.btn4 { background-color: rgb(0, 111, 101); }
.btn5 { background-color: rgb(255, 103, 90); }
.btn6 { background-color: rgb(0, 89, 115); }
.btn7 { background-color: rgb(255, 148, 88); }
.btn8 { background-color: rgb(110, 206, 88); }
.btn9 { background-color: rgb(131, 77, 255); }

.btnC1 { background-color: rgb(255, 103, 90); }
.btnC2 { background-color: rgb(106, 161, 255); }
.btnC3 { background-color: rgb(170, 89, 115); }
.btnC4 { background-color: rgb(110, 206, 88)}
.btnC5 { background-color: rgb(255, 148, 88); }
.btnC6 { background-color: rgb(0, 89, 115); }
.btnC7 { background-color: rgb(187, 189, 36); }
.btnC8 { background-color: rgb(0, 111, 101); }
.btnC9 { background-color: rgb(131, 77, 255); }

.btn1-1 { background-color: rgb(119, 117, 242); } 
.btn1-2 { background-color: rgb(255, 80, 80); }

.heading_in_padding {
    font-size: 28px;
    margin-top: -10%;
    margin-bottom: 15%;
    color: white;
}

.btn {
    width: 150px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s; 
    font-size: 16px;  
    margin-top: 2px;
} .btn:hover {
    transform: scale(1.20);
}

.btns {
    width: 130px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s; 
    font-size: 12px;  
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: center;
    align-items: center; 
    max-width: 1000px;
    margin: 0 right;
} 
.btns:hover {
        transform: scale(1.10);
} 
.btn_margin{
    margin-top: -15px;
}

.main_display {
    display: flex;
}

.btn1-1{
    width: 80px;
    height: 30px;
    border: none;
    font-size: 12px;
    border-radius: 30px;
    margin-right: -25px;
    z-index: 2;
} 
.btn1-2 {
    width: 100px;
    height: 30px;
    border: none;
    font-size: 12px;
    border-radius: 30px;
    align: right;
}

.btn_Ins_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    max-width: 1000px;
    margin-left: 88%;
    margin-top: -30px;
    z-index: 2;
    position: absolute;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 7px;
    margin-top: 20px;
}

.padding {
    border: 1px;
    margin: 0 auto;
    padding: 19% 7.6%;
    width: 61.9%;
    height: 460%;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(12, 12, 12);
    box-shadow: 0px 0px 20px 10px rgb(39, 39, 39);
} 

@media (resolution: 96dpi) {
    .padding {
        padding: 19.2% 5%;               
    }

    .btn_Ins_container {
        margin-left: 86%;
    }

    .event {
        padding: 20%;
        width: 30%;
        height: 20%;
        margin-left: -700px;
        margin-top: 50%;
    }

    .logIn_container {
        margin-left: -850px;
        margin-top: 22px;
    } .signIn_container {
        margin-left: -850px;
        margin-top: 22px;
    }

} @media (resolution: 120dpi) { 
    .padding {
        padding: 20.3% 7.6%;
    }

    .btn_Ins_container {
        margin-left: 88%;
    }

    .logIn_container {
        margin-left: -950px;
        margin-top: 30px;
    } .signIn_container {
        margin-left: -950px;
        margin-top: 30px;
    }
}

.dynamic-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 20px;
}

.log_form {
    margin-left: 5%;
    margin-top: -25%;
} .event_form, .sign_form {
    margin-top: 15%;   
}

.logIn_container,  .event_container {
    position: absolute;
    
    border: 1px;
    width: 35%;
    height: 70%;
    background-color: rgb(28, 26, 26);
    box-shadow: 0px 0px 30px 20px rgba(119, 117, 242, 0.2);
    box-shadow: ;
    z-index: 3;
    align-items: center;
    border-radius: 20px;
} .signIn_container {
    position: absolute;
    border: 1px;
    width: 35%;
    height: 70%;
    background-color: rgb(28, 26, 26);
    box-shadow: 0px 0px 30px 20px rgba(255, 80, 80, 0.2);
    box-shadow: ;
    z-index: 3;
    align-items: center;
    border-radius: 20px;
}

.event_container {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 40%;
    height: 30%;
    background-color: grey;
    z-index: 5;
}

.input, .signbtn, .logbtn {
    width: 24vw;
    height: 5vh;
    border-radius: 10px;
    margin-top: 1.5vh;
} .inputSubbtns {
    width: 10vw;
    height: 5.5vh;
    border-radius: 10px;
    margin-top: 1.5vh;
}