body {
    
    background-color: ;
    
}

.subBtn {
    display: flex;
}

.startBtns {
    display: flex;
}

button {
    width: 150px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    background-color: lightblue;
}

button:hover {
    transform: scale(1.05);
}

input, textarea {
    width: 200px;
    height: 25px;
    margin: 5px;
}

.result {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
